.row{
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    flex-direction: row;
    width: 100vw;
}

.col{
    width: 20%;
    overflow: hidden;
    margin: 10px;
    text-align: center;
}

img{
    max-width:100%;
    width: 100%;
}

h1{
    font-size: 16px;
}

.header{
    text-align: center;
}