.row{
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    flex-direction: row;
    width: 100vw;
}

.col{
    width: 20%;
    overflow: hidden;
    margin: 10px;
}

img{
    /* width: max-content; */
    max-width:100%;
    width: 100%;
    /* max-height:100%; */
    /* height: inherit; */
}

h1{
    font-size: inherit;
}