body{
    margin-left: 1%;
    margin-top: 1%;
}
.section {
max-width: 45%;
}
.date{
background: linear-gradient(to right, #000428 , #004e92);;
border-radius: 23px 23px 0px 0px;
padding-top: 10px;
}
.stats{
padding-left: 20px;
}
.games {
border-radius: 25px;
border: 2px solid black;
box-shadow: 3px 10px 18px #888888;
/* padding: 20px; 
width: 400px;
height: 300px;   */
padding-top: -50px;
margin-bottom: 10px;
}
.columns{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
grid-auto-rows: auto;
}