<!DOCTYPE html>
<html>
  <head>
    <title>chessm8</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Invalid username, input a valid username</h1>
      <form role="form" method='POST' action='/chess' class="form-inline">
        <div class="form-group">
          <input type="text" name="player" class="form-control" id="player-box" placeholder="Enter username to look up on chess.com" style="width: 450px;">
        </div>
        <button type="submit" class="btn btn-default">Get stats</button>
      </form>
      <form role="form" method='POST' action='/lichess' class="form-inline">
        <div class="form-group">
          <input type="text" name="player" class="form-control" id="player-box" placeholder="Enter a username to look up on lichess.org" style="width: 450px;">
        </div>
        <button type="submit" class="btn btn-default">Get stats</button>
      </form>
      <br>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>